#menu details {
	position: fixed;
	top: 1em;
	right: 0.25em;
	width: 6.5em;
	height: 2.5em;
}

#menu summary {
	user-select: none;
	box-sizing: border-box;
	width: 90%;
	padding: 0.3em;
	font-size: 1.1em;
	font-weight: bold;
	background: var(--neon);
	cursor: pointer;
	border-radius: 0.5em;
	text-align: center;
	box-shadow: 0.2em 0.2em 0.6em #00000088;
}

#menu summary:active {
	background: var(--dark-neon);
}

#menu ul {
	position: absolute;
	top: 2em;
	right: 0.5em;
	padding: 0.7em;
	padding-left: 0.4em;
	width: 8em;
	background: var(--white);
	list-style-type: none;
	text-align: right;
	font-size: 1.4em;
	border-radius: 0.5em;
	margin: 0;
	box-shadow: 0.2em 0.2em 0.6em #00000088;
}

#menu li {
	margin-top: 0;
}

@media (prefers-color-scheme: dark) {
	#menu summary {
		background: var(--moore-dark);
		color: var(--neon);
	}

	#menu summary:active {
		background: var(--more-dark);
	}

	#menu ul {
		background: var(--moore-dark);
	}
}
