:root {
	overflow: auto;
	background-color: var(--white);
	color: var(--black);
	margin: auto;
	max-width: 45em;
	border-radius: 0.3em;
	padding: 1.5em;
	padding-top: 3.7em;
	line-height: 1.5;
	font-size: 1.08em;
	font-family: Roboto, sans-serif;
	--black: #000000;
	--mooore-dark: #0f0f0f;
	--moore-dark: #161616;
	--more-dark: #1f1f1f;
	--dark: #333333;
	--light: #dddddd;
	--more-light: #eeeeee;
	--white: #ffffff;
	--neon: #00ffff;
	--dark-neon: #00dddd;
}

@font-face {
	font-family: Roboto;
	src: url(/static/fonts/Roboto.woff2);
}

@font-face {
	font-family: Iosevka;
	src: url(/static/fonts/Iosevka.woff2);
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-thumb {
	background: #b3afb3;
	border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
	background: #b3afb388;
}
::-webkit-scrollbar-track {
	background: #f0f0f0;
	border-radius: 0px;
	box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}

::selection {
	background-color: var(--neon);
	color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 2em;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.3em;
}
h5 {
	font-size: 1.15em;
}
h6 {
	font-size: 1.1em;
}

hr {
	border-color: rgb(225, 228, 232);
	background-color: rgb(225, 228, 232);
	border-style: solid;
	border-top-width: 0.05em;
	border-bottom-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	height: 0;
}
footer hr {
	margin-top: 3em;
}

a {
	color: var(--dark-neon);
	text-decoration: none;
}
a:visited {
	color: var(--dark);
}
a:hover {
	color: var(--neon);
	text-decoration: underline;
}
a:focus {
	color: var(--white);
}

blockquote {
	overflow-x: auto;
	border-left: 0.29em solid var(--light);
	border-radius: 0.5em;
	background-color: var(--more-light);
	padding-left: 1em;
	padding-right: 1em;
	margin-left: 0;
	font-style: regular;
}
blockquote h1 {
	border-color: rgb(193, 195, 200);
}
blockquote h2 {
	border-color: rgb(193, 195, 200);
}
blockquote hr {
	border-color: rgb(193, 195, 200);
}

.badge {
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
	border-radius: 0.5em;
	background-color: var(--more-light);
	padding: 1em;
}
.badge-icon {
	padding-right: 1em;
}

.orange-icon {
	filter: invert(50%) sepia(100%) saturate(250%) hue-rotate(350deg)
		brightness(90%) contrast(200%);
}
.red-orange-icon {
	filter: invert(50%) sepia(100%) saturate(250%) hue-rotate(315deg)
		brightness(90%) contrast(600%);
}

.qr-code {
	max-width: 40%;
	border-radius: 0.5em;
}

pre,
code {
	overflow-x: auto;
	word-wrap: break-word;
	border-radius: 0.3em;
	background: var(--more-light);
	padding: 0.2em;
	color: rgb(255, 0, 76);
	font-family: "Iosevka", monospace;
}

table,
th,
td {
	border-collapse: collapse;
	border-width: 0.1em;
	border-style: solid;
	padding: 0.5em;
	text-align: right;
}
table {
	display: block;
	overflow-x: auto;
	border-width: 0;
	padding: 0;
}
tr:nth-child(even) {
	background: var(--more-light);
}
tr:nth-child(odd) {
	background: var(--white);
}

img {
	max-width: 100%;
}

footer {
	font-size: 0.8em;
	text-align: center;
}

dark-mode-toggle {
	position: fixed;
	top: 1em;
	left: 0.5em;
	width: 6.5em;
	height: 5em;
	color: var(--neon);
}

@media (prefers-color-scheme: dark) {
	:root {
		background-color: var(--mooore-dark);
		color: var(--white);
	}

	::-webkit-scrollbar-thumb {
		background: var(--more-dark);
	}
	::-webkit-scrollbar-thumb:hover {
		background: var(--dark)	;
	}
	::-webkit-scrollbar-track {
		background: var(--moore-dark);
	}

	hr {
		border-color: var(--dark);
		background-color: var(--dark);
	}

	.dark-image {
		filter: invert(100%);
	}

	blockquote {
		border-left-color: var(--more-dark);
		background-color: var(--moore-dark);
	}
	blockquote hr {
		border-color: var(--dark);
		background-color: var(--dark);
	}
	blockquote img {
		margin: 1em;
		margin-left: 0;
	}

	pre,
	code {
		background: #000000;
		color: #ff8800cc;
	}

	.badge {
		background-color: var(--moore-dark);
	}

	th, td {
		border-color: var(--dark);
	}
	tr:nth-child(even) {
		background: var(--mooore-dark);
	}
	tr:nth-child(odd) {
		background: var(--moore-dark);
	}
}
